<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.whi.service.statistics.repo.mapper.RequestCountMapper">

    <select id="getPvAndUvCount" resultType="ink.whi.api.model.vo.statistic.dto.StatisticsDayDTO">
        select sum(cnt) as pv, count(*) as uv, date
        from request_count
        group by date
        order by date desc
        limit #{day}
    </select>
    <select id="getUvCount" resultType="ink.whi.api.model.vo.statistic.dto.StatisticsDayDTO">
        select count(*) as count, date
        from request_count
        group by date
        order by date desc
        limit #{day}
    </select>
</mapper>