<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.whi.service.user.repo.mapper.UserFootMapper">

    <select id="countArticleByArticleId" resultType="ink.whi.api.model.vo.article.dto.ArticleFootCountDTO">
        SELECT
            sum(if (f.praise_stat =${@ink.whi.api.model.enums.PraiseStatEnum@PRAISE.code}, 1, 0)) as praiseCount,
            sum(if (f.collection_stat =${@ink.whi.api.model.enums.CollectionStatEnum@COLLECTION.code}, 1, 0)) as collectionCount,
            avg(r.`cnt`) as readCount
        FROM
            read_count as r
        left join user_foot as f  on f.document_id = r.document_id and f.document_type = r.document_type
        WHERE
            r.document_type = ${@ink.whi.api.model.enums.DocumentTypeEnum@ARTICLE.code}
            AND r.document_id = #{articleId}
    </select>

    <select id="countArticleReadsByUserId" resultType="java.lang.Integer">

    </select>
    <select id="countArticleByUserId" resultType="ink.whi.api.model.vo.article.dto.ArticleFootCountDTO">
        SELECT
            sum(if (f.praise_stat =${@ink.whi.api.model.enums.PraiseStatEnum@PRAISE.code}, 1, 0)) as praiseCount,
            sum(if (f.collection_stat =${@ink.whi.api.model.enums.CollectionStatEnum@COLLECTION.code}, 1, 0)) as collectionCount,
            avg(r.`cnt`) as readCount
        FROM
            read_count as r
                left join user_foot as f  on f.document_id = r.document_id and f.document_type = r.document_type
        WHERE
                r.document_type = ${@ink.whi.api.model.enums.DocumentTypeEnum@ARTICLE.code}
          AND f.document_user_id = #{userId}
    </select>
    <select id="listPraiseUserByArticleId" resultType="ink.whi.api.model.vo.user.dto.SimpleUserInfoDTO">
        select u.id as userId,
               u.user_name as name,
               u.photo as avatar,
               u.profile as profile
        from user_foot f
        left join user_info u on u.id = f.user_id
    </select>
    <select id="getStatisticArticleCountDTO"
            resultType="ink.whi.api.model.vo.statistic.dto.ArticleStatisticCountDTO">
        select sum(if (f.praise_stat =${@ink.whi.api.model.enums.PraiseStatEnum@PRAISE.code}, 1, 0)) as likeCount,
               sum(if (f.collection_stat =${@ink.whi.api.model.enums.CollectionStatEnum@COLLECTION.code}, 1, 0)) as collectCount,
               sum(if (f.comment_stat =${@ink.whi.api.model.enums.CommentStatEnum@COMMENT.code}, 1, 0)) as commentCount,
               sum(if (f.read_stat =${@ink.whi.api.model.enums.ReadStatEnum@READ.code}, 1, 0)) as readCount
        from user_foot f
        where f.document_type = ${@ink.whi.api.model.enums.DocumentTypeEnum@ARTICLE.code}
    </select>
</mapper>
